body, body * {
    font-family: "Open Sans", sans-serif;
    /*border: 1px solid red;*/
    color: #fff;
}
body {
    margin: 0;
    background: #000;
}
body * {
    background-color: transparent;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 5rem;
    padding: 1rem;
    text-align: center;
    z-index: 2;
    background-color: #000a;
}

h1 {
    margin: 0;
}

main  {
    z-index: 1;
}

#start-button {
    transition: 0.3s;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    background-color: #0cca;
    font-size: 2.5rem;
}

#start-button:hover {
    background-color: #0cc;
}

input[type="radio"], input[type="checkbox"] {
    display: none;
}

input + label {
    transition: 0.3s;
    width: 100%;
    height: 100%;
    padding: 2rem;
    background-color: #aaaa;
    text-align: center;
    margin: 1rem;
    border-radius: 1rem;
}

input + label:hover {
    cursor: pointer;
    background-color: #ccca;
}

input[type="radio"]:checked + label, input[type="checkbox"]:checked + label {
    background-color: #0a2;
}

input[type="radio"]:checked + label:hover input[type="checkbox"]:checked + label:hover {
    background-color: #000;
}

.questionnaire {
    z-index: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-self: center;
    background-image: url("public/vaa-2.png");
    background-position: center;
    background-size: cover;
}

.carousel-inner, .carousel-item{
    background-color: transparent;
}

.question, .misc {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.question > label {
    font-size: 2rem;
    margin-inline: 5rem;
    padding: 0.5rem;
    text-align: center;
    background-color: #000a;
    border-radius: 1rem;
}
.question > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #000;
}
.question > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
.form-controls {
    position: fixed;
    bottom: 3rem;

    display: flex;
    flex-direction: row !important;
}

.form-controls > * {
    transition: 0.3s;
    padding: 1rem;
    border-radius: 1rem;
    margin: 0 1rem;
    border: none;
}

.precedent {
    background-color: #0cf;
}

.precedent:hover {
    background-color: #0ef;
}

.suivant {
    background-color: #0c3;
}

.suivant:hover {
    background-color: #0e3;
}

.suivant[disabled=""] {
    background-color: #aaa;
    opacity: 0.5;
}


.horizontal {
    flex-direction: row !important;
}
.horizontal > div {
    margin: 0 0.5rem !important;
}


#chargement {
    z-index: 2;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;

}

#confirmation {
    z-index: 2;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0008;
    cursor: pointer;
}

#confirmation p {
    margin-top: 1rem;
    font-size: 2.5rem;
}

#confirmation p small {
    font-size: 1.5rem;
}
#confirmation div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0a5;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}
#confirmation div svg {
    scale: 10;
}

#credit-photo {
    position: fixed;
    bottom: 0;
    right: 0;
}
#credit-photo p {
    margin: 0;
    padding: 0.25rem;
}

#page-reponses {
    top: 0;
    height: calc(100vh - 4.5rem)    ;
    width: 100vw;
    background:#000;
    padding-top: 4.5rem;
}

#page-reponses header {
    padding: 0;
    height: 4rem;
    background-color: unset;
}
#page-reponses header * {
    margin: 0;
}

.liste-reponses {
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    align-items: center;
}
.liste-reponses div {
    padding-bottom: 5rem;
    text-align: center;
    width: 40rem;
    height: 20rem;
    margin-top: 4rem;
}
.liste-reponses div h2 {
    text-wrap: normal;
}
